/* ----------------------

  LANES grid framework
  ====================

  Default usage
  =============
  <div class="container">
    <div class="row">
      <div class="six columns">
      </div>
      <div class="six columns">
      </div>
    </div>
  </div>

-----------------------*/

.container {
  max-width: 1020px;
  position: relative;
  margin: 0 auto;
  padding: 0;
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

.row {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

.columns {
  float: left;
  display: block;
  margin-left: 1.5%;
  margin-bottom: 10px;
  vertical-align: top; }
	.columns:first-child {
    margin-left: 0; }
  .columns.one {
    width: 6.95833%; }
  .columns.two {
    width: 15.41667%; }
  .columns.three {
    width: 23.875%; }
  .columns.four {
    width: 32.33333%; }
  .columns.five {
    width: 40.79167%; }
  .columns.six {
    width: 49.25%; }
  .columns.seven {
    width: 57.70833%; }
  .columns.eight {
    width: 66.16667%; }
  .columns.nine {
    width: 74.625%; }
  .columns.ten {
    width: 83.08333%; }
  .columns.eleven {
    width: 91.54167%; }
  .columns.twelve {
    width: 100%; }

/* Offsets ------- */
.columns.offset-by-one {
  margin-left: 8.45833%; }
.columns.offset-by-two {
  margin-left: 16.91667%; }
.columns.offset-by-three {
  margin-left: 25.375%; }
.columns.offset-by-four {
  margin-left: 33.83333%; }
.columns.offset-by-five {
  margin-left: 42.29167%; }
.columns.offset-by-six {
  margin-left: 50.75%; }
.columns.offset-by-seven {
  margin-left: 59.20833%; }
.columns.offset-by-eight {
  margin-left: 67.66667%; }
.columns.offset-by-nine {
  margin-left: 76.125%; }
.columns.offset-by-ten {
  margin-left: 84.58333%; }
.columns.offset-by-eleven {
  margin-left: 93.04167%; }
.columns.offset-by-twelve {
  margin-left: 101.5%; }

/* Centered ------------------------- */
.columns.centered {
	float: none;
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

/* Small Screens ------------------- */
@media screen and (max-width: 550px) {
	.columns.one,
	.columns.two,
	.columns.three,
	.columns.four,
	.columns.five,
	.columns.six,
	.columns.seven,
	.columns.eight,
	.columns.nine,
	.columns.ten,
	.columns.eleven {
		width: 100%;
		margin: 10px 0;
	}
/* Small Columns ------------------------- */	
	.column.two-sm, .columns.two-sm {
		width: 15.41667%;
		margin-left: 1.5%;
	}
	
	.columns.four-sm {
		width: 32.33333%;
		margin-left: 1.5%;
	}
	.columns.six-sm {
		width: 49.25%;
		margin-left: 1.5%;
	}
	
	.columns:first-child {
		margin-left: 0;
	}

/* Small Centered ------------------------- */
	.columns.centered-sm {
		float: none;
		clear: both;
		margin-left: auto;
		margin-right: auto;
	}
}